package:
  docker-ce:
    installed: true
    versions:
    - {{ docker_version }}
  docker-compose:
    installed: true
    versions:
    - {{ docker_compose_version }}
service:
  docker:
    enabled: true
    running: true
group:
  docker:
    exists: true